---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects, groupProjectsByYear } from '@/lib/data-utils'

const projects = await getAllProjects()
const projectsByYear = groupProjectsByYear(projects)
const years = Object.keys(projectsByYear).sort((a, b) => {
  if (a === 'Unknown') return 1
  if (b === 'Unknown') return -1
  return parseInt(b) - parseInt(a)
})
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Projects" />
  <Breadcrumbs items={[{ label: 'Projects', icon: 'lucide:briefcase' }]} />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      projects.length > 0 ? (
        years.map((year) => (
          <section class="flex flex-col gap-y-4">
            <div class="font-medium">{year}</div>
            <ul class="flex flex-col gap-4">
              {projectsByYear[year].map((project) => (
                <li>
                  <ProjectCard entry={project} />
                </li>
              ))}
            </ul>
          </section>
        ))
      ) : (
        <p class="text-muted-foreground text-center">No projects found.</p>
      )
    }
  </div>
</Layout>
